{% extends "base.html" %}

{% block head %}

    <title>Hjemmeside</title>
{% endblock %}

{% block body %}
<a href="/" class="logo"></a>

<section class="content">
    <div class="shapes">

        <div class="shape red"></div>
        <div class="shape black"></div>
        <div class="shape white"></div>

    </div>

    <div class="kantine-info">
        <h1>Akademiet VGS Kantine</h1>
        <p>Dette er den offisielle nettsiden for skolekantina ved Akademiet VGS.</p>
        <p>Her kan du enkelt se hva som serveres i kantina hver dag.</p>
    </div>
</section>
{% endblock %}
